body {
    font-family: Arial, sans-serif;
    background-color: #a1a1a1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.stopwatch-container {
    text-align: center;
    color: #ff0000;
}

.stopwatch {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.controls button {
    font-size: 1em;
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ff0000;
    cursor: pointer;
}

.controls button:hover {
    background-color: #0056b3;
}

.lap-times {
    list-style-type: none;
    padding: 0;
}

.lap-times li {
    margin-bottom: 5px;
}
